src/main/xsd/common-model-definition-main/gdtaf-core.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio (https://www.liquid-technologies.com)-->
<xs:schema xmlns="http://pnnl.gov/gdtaf-core" elementFormDefault="qualified" targetNamespace="http://pnnl.gov/gdtaf-core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="BaseBlock">
        <xs:attribute name="UUID" type="guid" use="required" />
        <xs:attribute name="Name" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="TimeContractType">
        <xs:complexContent>
            <xs:extension base="xs:anyType" />
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="guid">
        <xs:restriction base="xs:string">
            <xs:pattern value="_([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Equipment">
        <xs:complexContent>
            <xs:extension base="BaseBlock">
                <xs:sequence>
                    <xs:element name="ConstrainingAttribute" type="ConstrainingAttribute" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="PossibleRole" type="EquipmentRole" minOccurs="1" maxOccurs="unbounded" />
                    <xs:element name="PossibleZone" type="CommunicationZone" minOccurs="1" maxOccurs="unbounded" />
                    <xs:element name="Icon" type="xs:base64Binary" minOccurs="0" />
                    <xs:element name="possible_children" type="guid" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="possible_parents" type="guid" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="possible_peers" type="guid" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="derived_from" type="guid" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="available_data" type="guid" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="available_stacks" type="guid" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:attribute name="Description" type="xs:string" use="required" />
                <xs:attribute name="Type" type="EquipmentType" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TimeBasedOverhead">
        <xs:attribute name="Schedule" type="xs:string" />
        <xs:attribute name="FixedByteOverhead" type="xs:integer" />
    </xs:complexType>
    <xs:simpleType name="EquipmentType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Communication" />
            <xs:enumeration value="Transmission" />
            <xs:enumeration value="Distribution" />
            <xs:enumeration value="Communication+Transmission" />
            <xs:enumeration value="Communication+Distribution" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EquipmentRole">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ROLE_UNKNOWN" />
            <xs:enumeration value="ROLE_ENDPOINT" />
            <xs:enumeration value="ROLE_REPEATER" />
            <xs:enumeration value="ROLE_TAKEOUT" />
            <xs:enumeration value="ROLE_HEADEND" />
            <xs:enumeration value="ROLE_STORE_AND_FORWARD" />
            <xs:enumeration value="ROLE_ROUTER" />
            <xs:enumeration value="ROLE_SWITCH" />
            <xs:enumeration value="ROLE_FIREWALL" />
            <xs:enumeration value="ROLE_BATTERY_BACKUP" />
            <xs:enumeration value="ROLE_COMMS_LINK" />
            <xs:enumeration value="ROLE_TOWER" />
            <xs:enumeration value="ROLE_SUBSTATION" />
            <xs:enumeration value="ROLE_CONTAINER" />
            <xs:enumeration value="ROLE_CONDUCTOR" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CommunicationZone">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ZONE_UNKNOWN" />
            <xs:enumeration value="ZONE_BACK_OFFICE_LAN" />
            <xs:enumeration value="ZONE_WAN" />
            <xs:enumeration value="ZONE_SUBSTATION" />
            <xs:enumeration value="ZONE_FIELD" />
            <xs:enumeration value="ZONE_EXTERNAL" />
            <xs:enumeration value="ZONE_NAN" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ConstrainingAttribute">
        <xs:attribute name="Type" type="ConstrainingAttributeType" use="required" />
        <xs:attribute name="Value" type="xs:anySimpleType" use="required" />
    </xs:complexType>
    <xs:complexType name="GeoLocation">
        <xs:attribute name="X" type="xs:float" use="required" />
        <xs:attribute name="Y" type="xs:float" use="required" />
        <xs:attribute name="Z" type="xs:float" />
    </xs:complexType>
    <xs:simpleType name="ConstrainingAttributeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAX_CHILDREN" />
            <xs:enumeration value="MAX_PEERS" />
            <xs:enumeration value="MAX_PARENTS" />
            <xs:enumeration value="MAX_MANAGED" />
            <xs:enumeration value="PATH_LOSS_CALCULATION" />
            <xs:enumeration value="LINK_LATENCY_CALCULATION" />
            <xs:enumeration value="LINK_CAPACITY_CALCULATION" />
            <xs:enumeration value="MIN_PATH_THRESHOLD" />
            <xs:enumeration value="COST_FACTOR" />
            <xs:enumeration value="ACTUAL_COST" />
            <xs:enumeration value="IMPLEMENTATION_FACTOR" />
            <xs:enumeration value="SAFETY_FACTOR" />
            <xs:enumeration value="RELIABILITY_FACTOR" />
            <xs:enumeration value="MAX_APPLICATION_PACKET_BYTES" />
            <xs:enumeration value="MAX_QUEUED_PACKETS" />
            <xs:enumeration value="RESILIENCE_FACTOR" />
            <xs:enumeration value="LIFECYCLE_MANAGEMENT_FACTOR" />
            <xs:enumeration value="DISTRIBUTED_COMPUTATION_FACTOR" />
            <xs:enumeration value="SCALABILITY_FACTOR" />
            <xs:enumeration value="CAPACITY_FACTOR" />
            <xs:enumeration value="MAX_MESH_DEPTH" />
            <xs:enumeration value="MIN_VIABLE_RSSI" />
            <xs:enumeration value="P2P_LATENCY" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DataElement">
        <xs:complexContent>
            <xs:extension base="BaseBlock">
                <xs:sequence>
                    <xs:element name="SourceID" type="xs:string" minOccurs="0" />
                    <xs:element name="Time" type="TimeContractType" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
                <xs:attribute name="Description" type="xs:string" use="required" />
                <xs:attribute name="Group" type="DataGroup" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="DataGroup">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ANALOG" />
            <xs:enumeration value="ACCUMULATOR" />
            <xs:enumeration value="STRING" />
            <xs:enumeration value="DISCRETE" />
            <xs:enumeration value="COMMAND" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LinkScore">
        <xs:restriction base="xs:double" />
    </xs:simpleType>
    <xs:simpleType name="guidList">
        <xs:list itemType="guid" />
    </xs:simpleType>
    <xs:simpleType name="indexList">
        <xs:list itemType="xs:integer" />
    </xs:simpleType>
</xs:schema>